html,
body {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  font-size: small;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.6);
}

$placeholderColor: rgba(0, 0, 0, 0.3);

::-webkit-input-placeholder {
   color: $placeholderColor;
}

:-moz-placeholder { /* Firefox 18- */
   color: $placeholderColor;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $placeholderColor;  
}

:-ms-input-placeholder {  
   color: $placeholderColor;  
} 

.noselect {
	/* iOS Safari */
  -webkit-touch-callout: none;
  /* Chrome/Safari/Opera */
  -webkit-user-select: none;
  /* Konqueror */
  -khtml-user-select: none;
  /* Firefox */
  -moz-user-select: none;
  /* Internet Explorer/Edge */
  -ms-user-select: none;
  /* Non-prefixed version, 
  used in most browsers. */
  user-select: none;
}

#container {
  overflow: scroll;
}

#paper {
  position: relative;
  display: inline-block;

	svg {
	  background: transparent;

	  rect {
		  stroke: none;
		}

	  text {
		  display: none;
		}

		.joint-link .connection {
			stroke-width: 2px;
		}

		.marker-target {
		  stroke-width: 0;
		}

		.marker-vertex {
		  fill: #fff;
		}

		.marker-vertex:hover {
		  fill: #000;
		  stroke: none;
		}

		.marker-arrowhead {
		  fill: #fff;
		  stroke: none;
		}

		.marker-arrowhead:hover {
		  fill: #000;
		}

		.link-tools .tool-remove circle {
		  fill: #c0392b;
		}

		.connection {
		  stroke: #000;
		}

		.inPorts circle {
		  fill: #c0392b;
		  stroke-width: 0;
		}

		.outPorts circle {
		  fill: #8c6;
		  stroke-width: 0;
		}
	}
}

#popupMenu {
  position: absolute;
  right: 50%;
  top: 50%;
  z-index: 9999;
  font-size: 24px;

  a {
	  display: inline-block;
	  float: left;
	  width: 25%;
	  height: 100%;
	  line-height: inherit;
	  text-align: center;
	  color: rgba(255, 255, 255, 0.5);
	  background-color: #ccc;
	}
}

#popupMenu.large {
	width: 400px;
  height: 100px;
  line-height: 100px;
  margin: -50px -200px 0 0;
  font-size: 40px;
}

#startText {
	position: absolute;
	width: 400px;
	height: 100px;
	right: 50%;
	top: 50%;
	margin: -150px -200px;
	text-align: center;
}

/*
Node styles
*/
.node .header,
.node .header a,
.node .footer,
.node .footer a {
  background-color: rgba(255, 255, 255, 0.2);
  color: inherit;
}

$headerSize: 38px;
.node {
	position: absolute;
  background: #fff;
  padding: 0;
  box-sizing: border-box;
  z-index: 2;
  font-size: 16px;

	.header {
	  height: $headerSize;
	  line-height: 38px;
	  font-size: 20px;

		.icon {
		  float: left;
		  font-size: 28px;
		  margin: 0 5px 0 8px;
		  line-height: 32px;
		}

		.node-title {
		  line-height: 30px;
		  vertical-align: top;
		  font-variant: small-caps;
		}

		.node-id {
		  position: absolute;
		  font-size: 8px;
		  display: block;
		  left: 43px;
		  top: 8px;
		}
	}

	.close {
	  display: block;
	  float: right;
	  width: $headerSize;
	  height: $headerSize;
	  line-height: $headerSize;
	  font-size: 1.2em;
	  text-align: center;
	  background-color: rgba(0, 0, 0, 0.1);
	}

	.node-content {
		padding: 0 16px;
		margin: 0;

		input,
		textarea,
		label {
			-webkit-box-sizing: border-box;
		  -moz-box-sizing: border-box;
		  box-sizing: border-box;
			width: 100%;
			display: block;
		}

		label {
			padding: 5px 0;
			margin-top: 10px;
			font-variant: small-caps;
		}

		input,
		textarea {
			font-size: 1em;
			color: inherit;
			padding: 3px 5px;
			border: none;
			background-color: rgba(255, 255, 255, 0.4);
		}

		textarea {
			height: 100px;
			resize: none;
		}
	}

	.footer {
	  width: 100%;
	  height: 48px;
	  line-height: 48px;
	  position: absolute;
	  bottom: 0;
	  z-index: 1;
	}

	.add-node {
	  display: block;
	  height: 100%;
	  font-size: 32px;
	  text-align: center;
	}
}

.ditree-text .add-node {
  width: 100%;
}

.ditree-skill {
  .add-node {
	  width: 50%;
    float: left;
  }

  .footer a.success {
    background-color: rgba(85, 170, 85, 0.6);
  }

  .footer a.failure {
    background-color: rgba(212, 106, 106, 0.6);
  }
}

.ditree-variable {
  .variable-update-type {
    height: 32px;
    line-height: 32px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);

    a {
      display: inline-block;
      width: 20%;
      height: 100%;
      float: left;
      color: inherit;
      text-decoration: none;
    }

    a.selected {
      background-color: rgba(255, 255, 255, 0.4);
    }
  }
}